h1 {
  color: #911B1B;
  text-align: center;
  font-size: 50px;
}


body {
  background-color: black;

}

.lists {
  background-color: blue;
}

#p1 {
  color: red;
}


#final {
  border-width: 5px;
  font-size: 30px;
  color: white ;
  margin: 50px;
  border-radius:10px;
  text-align: center;
}

img {
  margin-right:50px;
  border-color:purple;
  border-style:solid;
}

#person3anime {
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
  color: blue;
  margin: 50px;
  border-radius:10px;
}	