h1 {
  color: #911B1B;
  text-align: center;
  font-size: 50px;
}


body {
  background-color: black;

}

.lists {
  background-color: blue;
}

#p1 {
  color: red;
}

#person1 {
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
  color: grey;
  margin: 50px;
  border-radius:10px;

}

#person2 {
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
  color: purple;
  margin: 50px;
  border-radius:10px;
}

#person3 {
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
  color: blue;
  margin: 50px;
  border-radius:10px;
}

#person4 {
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
  color: yellow;
  margin: 50px;
  border-radius:10px;
}

#person5 {
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
  color: red;
  margin: 50px;
  border-radius:10px;
}

#person5r {
  border-style: solid;
  border-width: 5px;
  font-size: 30px;
  color: #5E1212 ;
  margin: 50px;
  border-radius:10px;
}

#final {
  border-width: 5px;
  font-size: 30px;
  color: white ;
  margin: 50px;
  border-radius:10px;
  text-align: center;
}

img {
  margin-right:50px;
  border-color:#D8BFD8;
  border-style:solid;
  border-width: 2px;
}

